/* isOpen(true) */

.dropdown {
  width: auto;
  @include flex-col;

  &__btn {
    @include red-container;
    cursor: pointer;
    border-radius: 5px;
    padding: 15px;
    justify-content: space-between;
    ::first-letter {
      text-transform: uppercase;
    }
    h2 {
      @include text-18-500;
      margin-block: 0;
    }
  }

  &__container {
    @include grey-container;
    z-index: -1;
    border-radius: 5px;
    margin-top: -20px;

    p {
      @include text-18-400;
    }

    ul {
      padding: 0;
    }

    li {
      list-style-type: none;
      @include text-18-400;
    }
  }
}

.about {
  .dropdown__btn--about {
    @include small-radius;
    h2 {
      @include text-24-500;
    }
  }

  .dropdown__container--about {
    @include small-radius;
    p {
      @include text-24-500;
    }
  }
}

/* responsive mobile */

@media only screen and (max-width: 790px) {
  .dropdown {
    &__btn {
      border-radius: 5px;
      padding: 10px;
    }
    h2 {
      font-size: 13px;
    }
    img {
      height: 12px;
    }
    p {
      font-size: 12px;
    }
    li {
      font-size: 12px;
    }
  }

  .about {
    .dropdown {
      &__btn {
        border-radius: 5px;
        padding: 10px;
      }
      h2 {
        font-size: 13px;
      }
      img {
        height: 12px;
      }
      p {
        font-size: 12px;
      }
      li {
        font-size: 12px;
      }
    }
  }
}
