.tag {
  display: flex;
  width: auto;

  &__container {
    margin-right: 10px;
    width: auto;
    height: 25px;
    @include small-radius;
    @include red-container;
  }

  p {
    font-size: 14px;
    font-weight: 500;
    line-height: 142.6%;
    color: $secondary-clr;
    margin: auto;
    padding: 0 30px;
  }
}
