.slider {
  height: 415px;
  width: auto;
  margin: auto;
  position: relative;

  &__number {
    position: absolute;
    z-index: 1;
    bottom: 2%;
    right: 49%;
    @include text-18-500;
    color: $secondary-clr;
  }
}

.slide {
  position: absolute;
  height: 100%;
  width: 100%;
  background-position: center;
  background-size: cover;
  @include big-radius;
}

.btn--arrow {
  &:hover {
    cursor: pointer;
  }
}

.arrow {
  position: absolute;
  z-index: 1;
  top: 42%;

  &--left {
    left: 2%;
  }

  &--right {
    right: 2%;
    rotate: 180deg;
  }
}

/* responsive mobile */

@media only screen and (max-width: 790px) {
  .slider {
    height: 255px;

    &__number {
      display: none;
    }
  }

  .slide {
    @include small-radius;
  }

  .arrow {
    height: 20px;
  }
}
