.cards-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 35px;
    background-color: $bg-clr-container;
    padding: 3%;
    margin-top: 50px;
    @include big-radius;
}