.card {
  @include red-container;
  @include small-radius;
  position: relative;
  width: 340px;
  height: 340px;
  overflow: hidden;
  transition: 300ms;

  & a {
    @include flex-col;
  }

  & img {
    object-fit: cover;
    width: 100%;
    min-height: 340px;
  }

  & h2 {
    @include text-18-500;
    position: absolute;
    bottom: 0;
    margin: 20px;
  }
}

/* animation */

.card:hover {
  transform: scale(1.03);
  border: 1px solid black;
  transition: 300ms;
  cursor: pointer;
}

/* responsive mobile */

@media only screen and (max-width: 790px) {
  .card {
    width: 100%;
    height: 100%;
    transition: none;
    & img {
      height: auto;
    }
  }
}
