/* colors */

$primary-clr: #FF6060;
$secondary-clr: #FFFFFF;

/* background colors */

$bg-clr-site: #E5E5E5;
$bg-clr-container: #F6F6F6;
$bg-clr-footer: #000000;
$bg-clr-card: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.5) 100%);
