.footer {
  height: auto;
  background: $bg-clr-footer;
  color: $secondary-clr;
  @include flex-col;
  justify-content: space-between;
  text-align: center;
  padding: 35px 0;

  &_logo {
    width: 120px;
    margin: auto;
  }
}
