.footer {
    height: 110px;
    background: $bg-clr-footer;
    color: $secondary-clr;
    @include flex-col;
    justify-content: space-between;
    text-align: center;

    &_logo {
        width: 120px;
        margin: auto;
    }
}