.banner-container {
    height: 220px;
    width: auto;
    overflow: hidden;
    @include flex-center;
    @include big-radius;

    & img {
        position: relative;
        filter: brightness(50%);
        @include big-radius;
    }
    
    & h1{
        position: absolute;
        color: $secondary-clr;
        font-weight: 500;
        font-size: 48px;
        width: auto;
    }
}